body {
    background-color: rgb(0, 0, 0);
  }
  h1 {
    color: rgb(255, 255, 255);
    font-size: 500%;
    font-style:oblique
  }
  p {
    color: rgb(199, 13, 13);
    font-style: oblique;
  }
  a {
    color: rgb(228, 250, 34);
    font-style: oblique;
  }