* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 5vh;
  align-items: center;
  flex-wrap: wrap; 
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

#unique-header {
  position:absolute;
  color:#ffffff;
  top:50%;
  left:50%;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%,-50%);
}
h1 {
  font-weight: bold;
  color: rgb(0, 0, 0);
}
p { 
color: rgb(0, 0, 0);
}
h2 {color: rgb(0, 0, 0);
font-weight: bold;}

label {color: white;}
.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}
footer {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 5vh;
  align-items: center;
  flex-wrap: wrap; 
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}